@charset "utf-8";
.sendBody{background:#ffcb4c;}
.top_1{background:#2f2f2f;color:#fff;letter-spacing:.06rem;}

.send_cn{padding:.88rem 0 0;position:relative;}
.receive{width:100%;position:absolute;left:0;bottom:.9rem;padding-bottom:.2rem;}
.receive input,.receive button{display:block;margin:0 auto;}
.receive input{width:5.2rem;height:.76rem;border:none;border-radius:.2rem;padding:0 .1rem;font-size:.3rem;}
button.sendbtn{width:3rem;height:.8rem;border:none;border-radius:.16rem;background:#ffcb4c;font-size:.4rem;font-weight: bold;color:#6a3906;box-shadow:0 6px 0 #d5a249;margin-top:.3rem;}
.ts{line-height:.6rem;width:100%;text-align:right;}
.ts p{padding-right:.1rem;}

.down_rec{width:100%;height:100%;position:fixed;top:0;left:0;z-index:120;background:rgba(0,0,0,.88);display:none;}
.down_rec .close{padding:.2rem .4rem 0 0;text-align:right;margin-top:.8rem;}
.down_rec .close img{width:.55rem;height:.55rem;}
.down_rec .drecn{width:100%;height:auto;position:relative;text-align:center;}
.drecn .sdown{width:100%;text-align:center;position:absolute;left:0;}
.send_bnr{position:relative;}
.send_bnr p{text-align:center;width:100%;line-height:.4rem;position:absolute;left:0;bottom:-.06rem;color:#000;display:none;}





@media screen and (min-width:320px){
.drecn .sdown{bottom:2.1rem;}
}

@media screen and (min-width:360px) and (max-width:380px){
.drecn .sdown{bottom:2.3rem;}
}

@media screen and (min-width:380px){
    .drecn .sdown{bottom:2.5rem;}
}

@media screen and (min-width:410px){
    .drecn .sdown{bottom:2.1rem;}
}

@media screen and (min-width:600px){
    .drecn .sdown{bottom:2.3rem;}
}

@media screen and (min-width:640px){
.drecn .sdown{bottom:1.8rem;}
}











