@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul,a,article,header,footer,fieldset{margin:0;padding:0}
body{font-family:'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif; color:#000;background: #EEF3FA;}
fieldset,img{border:0}
ol,ul{list-style:none}
address,em,i{font-style:normal}
a{color:#000;text-decoration:none}
table{border-collapse:collapse;}
img{width:100%;vertical-align:top;}
.pos_r{position:relative;}
.clf:before, .clf:after {content:"";display:table;}
.clf:after{clear:both;}
.clf{*zoom:1;}
.fl{float:left; }
.fr{float:right; }
.ta-l { text-align:left;}
.ta-r { text-align:right;}
.ta-c { text-align:center;}
.main{width:100%;min-width:320px;margin:0 auto;max-width:640px;font-size:14px;background:#FFFFFF; overflow:hidden; box-sizing:border-box;}
@media screen and (min-width:320px){.main{font-size:14px;}}
@media screen and (min-width:360px){.main{font-size:16px;}}
@media screen and (min-width:400px){.main{font-size:18px;}}
@media screen and (min-width:480px){.main{font-size:21px;}}
@media screen and (min-width:560px){.main{font-size:24px;}}
@media screen and (min-width:640px){.main{font-size:28px;}}

#lazy_img img.lazy{background:url(../img/loading.gif) 50% 50% #fff no-repeat;}
.pr{position: relative;}
.pa{position: absolute;}
.pa_tb{padding: 0.5em;}
.pa_t{padding-top: 0.5em;}
.pa_b{padding-bottom: 0.5em;}
.pa_r{padding-right:0.5em;}
.mar_t{margin-top: 0.5em;}
.mar_b{margin-bottom: 1em;}
.mar_auto{margin: 0 auto;}
.pa_l{padding-left: 0.5em;}
.mat_tb{margin: 0.3em 0;}
.h_align{text-align: center;}
.v_align{vertical-align: middle;}
.header{height:3.5em;line-height:3.5em;text-align:center;background: -webkit-linear-gradient(top,  #2B1431,#210E2A);background: -moz-linear-gradient(top, #2B1431 0%, #210E2A 100%);background: -ms-linear-gradient(top, #2B1431 0%,#210E2A 100%);background: linear-gradient(to bottom, #2B1431 0%,#210E2A 100%);}
.header span.logo{display:inline-block;color: #B1ACB2;font-size: 0.85em;}
.w395{width:35%;max-width: 216px;display:inline-block;  vertical-align: middle;}
/*公共标题*/
.headline{padding: 0.2em 0;background:#8123B9;color: #FFFFFF;text-align: center;border-top: 5px solid #65288F;}
.font-p1 h1{font-size: 1.4em;}
.w444{max-width: 444px;margin: 0.5em 0;}
.w608{max-width: 608px;margin: 0.5em 0;}
.w109{max-width: 109px;}
.w125{max-width: 122px;}
.w94{max-width: 94px;}
.w102{max-width: 102px;width: 53%;}
.w257{max-width: 257px;}
.w280{max-width: 280px;border: 2px solid #E9EBEA;}
.w149{max-width: 149px;}
.w289{max-width: 289px;}
.w202{max-width: 202px;border: 2px solid #E9EBEA;}
.w549{max-width: 549px;display: block;margin: 0.5em auto;}
.w265{max-width: 265px;}
.w275{max-width: 275px;}
.w78{max-width: 78px;}
.w30{max-width: 30px;}
.w_55{width: 55%;}
.w_45{width: 45%;}
.w_50{width: 50%;}
.w_39{width: 39%;}
.w_35{width: 35%;}
.w_65{width: 65%;}
.w_34{width: 34%;}
.w_32{width: 32%;}
.w_42{width: 42%;}
.w_58{width: 58%;}
.w_22{width: 22%;}
.w_15{width: 15%;}
.w_75{width: 75%;}
.w_48{width: 48%;}
.w_30{width: 30%;text-align: center;}
/*底部两按钮*/
.bottom_btn{width: 55%;margin: 0.5em auto;}
.bottom_btn a{width: 50%;border: 1px solid #E0E0E0;text-align: center;color: #5F5E63;font-size: 0.85em;box-sizing: border-box;padding: 0.5em 0;}
.bottom_btn_l{border-top-left-radius: 1em;border-bottom-left-radius: 1em;}
.bottom_btn_r{border-left:0!important;border-top-right-radius: 1em;border-bottom-right-radius: 1em;}
/*版权信息*/
.footer{text-align: center;margin: 0.5em auto 4em;}
.footer p{line-height: 1.5; color: #a9a9a9;font-size: 0.85em;}
/*底部固定导航*/
.f_nav_box {position: fixed;bottom: 0;left: 0;width: 100%;z-index: 1000;text-align: center; }
.footer_nav {max-width: 640px;width: 100%;height: 3.4em;margin: 0 auto; overflow: hidden; border: 1px solid #E0E0E0;}
.footer_nav a.last {border-right: 1px solid #E0E0E0;}
.footer_nav a {display: inline-block;color: #fff;width: 23%;background: #FFFFFF;float: left;padding: 0.71em 0.1em;font-size: 0.8em;color: #7D7D7F; text-align: center;box-sizing: border-box;}
.purple_grey{color: #7D7D7F;}
.on.purple_grey{color: #8F48D4;}
/*预载图片*/
.mypic1{background: url(../img/index/icon_1_on.jpg);}
.mypic2{background: url(../img/index/icon_2_on.jpg);}
.footer_nav a.three, .footer_nav a.four {padding: 0.72em 0;font-size: 1.3em;width: 27%;background: #ff8a00; color: #FFFFFF;}
.footer_nav a.four {background: #FF5001;}
.footer_nav a img {width: 35%;max-width: 32px;display: block;margin: 0 auto;}
/*返回顶部按钮*/
.scroll-top { width: 3.5em; height: 3.5em;border-radius: 50%;border:1px solid #E0E0E0;background: #FFFFFF;color:#656565;position: fixed;right: 0.3em; bottom: 9em;display: none;opacity: 0.8;font-size: 0.65em;text-align: center; z-index: 1001;}

/*促销活动*/
.detail_opt{
    height:10em;
    background:#fff;
    border-top:1px dashed #BDBDBD;
}
.detail_opt ol{
	padding:0.5em;
}
.detail_opt h4{
    font-weight:bold; 
    height:1.5em; 
    padding-left: 0.5em;
    line-height: 1.5em; 
    color:#8123B9; 
    font-size:1em; 
}

.detail_opt li{
    width:15em;
    height:1.5em;
    font-size: 1em;
    border:1px solid #8f1dd4;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 20px;
    color:#666;
    position:relative;
}
.detail_opt li a{
    display: inline-block;
    width:15em;
    color:#4c4841;
}
.detail_opt li.open_sel .favourable_info{
    display: block;
}

.favourable_info{
     width:26em; 
     position:absolute; 
     left:0; top:0;
     z-index:1;
     font-size: 0.8em;
     display: none;
}

.payInfoTable{
    border: 1px solid #8f1dd4;
    background: #fff;
    text-align: left;
    padding: 0.8em;
    width: 100%;
    margin: -1px;
}
.payInfoTable td,.payInfoTable th{
    background: #fff;
    padding: 0.3em 0.2em;
    height: 1.2em;
    line-height: 1.2em;
}
.payInfoTable input{
    margin: 0 0.2em 0 0;
    cursor:pointer;
    vertical-align:middle;
}
.payInfoTable label{cursor:pointer;}
/*促销活动结束*/